<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjq.vhr.mapper.HrMapper">
    <select id="loadUserByUsername" resultType="com.yjq.vhr.model.Hr">
        select *
        from hr
        where username = #{username};
    </select>
    <select id="getHrRolesByHrId" resultType="com.yjq.vhr.model.Role">
        select r.* from role r
        LEFT JOIN hr_role hr ON r.id = hr.rid
        WHERE hr.hrid = #{id}
    </select>
</mapper>